#chrome_mini_map_wrapper {
	background:#808080;

	padding:3px;

	position:fixed;
	right:4px;
	top:4px;
	opacity:0.4;

	z-index:999;
}

#chrome_mini_map_wrapper .window_bottom {
	position:absolute;
	top:50px;
	width:100%;
	height:5px;
	background:red;
}
