#minimap-extension-element {
	background: rgba(100,100,100,0.4);
	width: 200px;

	position: fixed;
	right: 8px;
	top: 8px;

	overflow-y: hidden;

	z-index:9999;

	pointer-events: none;
	opacity: 0;

	transition: opacity 0.25s ease-in;
}

#minimap-extension-element.show {
	opacity: 1;
}

#minimap-extension-element > canvas {
	width: 200px;
	opacity: 0.6;
}

#minimap-extension-element-viewport {
	background-color: rgba(190,0,50,0.5);
	width: 198px;

	position: absolute;

	border: 1px solid black;
	left:0;
}